.messageboard {
  width: 70%;
  margin: 2rem auto;

  .form {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: 1fr min-content;
    background-color: $main-bg;
    border: none;
    margin: auto;
    width: 80%;

    input[type="text"] {
      justify-self: center;
      grid-row: 1/2;
      grid-column: 1/2;
      width: 60%;
      transition: width 0.3s ease-out;
      &:focus {
        width: 100%;
      }
    }

    input[type="submit"] {
      justify-self: center;
      grid-row: 2/3;
      grid-column: 1/-1;
    }

    .Loader {
      grid-row: 2/3;
      grid-column: 2/3;
    }
  }

  &__messages {
    margin-top: 5rem;

    &--msg {
      margin: 2rem auto 5rem auto;
      width: 80%;
      padding: 2rem 1rem;
      background-color: $main-lighter;
      min-height: 20rem;
      border: 0.2rem solid blanchedalmond;
      display: grid;
      grid-template-rows: min-content 10rem min-content max-content;
      grid-template-columns: 15rem 1fr;

      img, span {
        justify-self: center;
        align-self: center;
        height: 100%;
        max-width: 100%;
        grid-row: 2/3;
        grid-column: 1/2;
      }

      a, h2 {
        justify-self: center;
        padding: .3rem;
        align-self: center;
        grid-row: 1/2;
        grid-column: 1/2;
      }

      p {
        margin-left: 2rem;
        line-height: 2rem;
        grid-row: 1/-1;
        grid-column: 2/-1;
      }
      button {
        background-color: crimson;
        margin: auto;
        margin-top: 2rem;
        width: 60%;
        grid-row: 3/4;

        &:hover {
          background-color: darken(crimson, 15%);
        }
      }
    }
  }
}

@media only screen and(max-width:1200px) {
  .messageboard {
    width: 80%;
  }
}

@media only screen and(max-width:1000px) {
  .messageboard {
    width: 90%;
  }
}

@media only screen and(max-width:800px) {
  .messageboard {
    width: 100%;
    margin: 0;

    &__messages {
      margin-top: 5rem;

      &--msg {
        gap: 1rem;
        margin: 2rem auto 5rem auto;
        width: 90%;
        padding: 1rem 0.5rem;
        grid-template-rows: 8rem min-content min-content 1fr;
        grid-template-columns: 1fr;

        img, span {
          grid-row: 1/2;
          grid-column: 1/-1;
        }

        a, h2 {
          justify-self: center;
          padding: 0;
          align-self: center;
          grid-row: 2/3;
          grid-column: 1/-1;
        }
        button {
          grid-row: 3/4;
          grid-column: 1/-1;
          align-self: center;
          justify-self: center;
          margin: 0;
          width: 20%;
          margin-bottom: 2rem;
        }

        p {
          width: 95%;
          text-align: center;
          grid-row: 4/5;
          grid-column: 1/-1;
          justify-self: center;
          align-self: center;
          margin-left: 0;
        }
      }
    }
  }
}

@media only screen and(max-width:500px) {
  .messageboard {
    width: 100%;
    margin: 0;

    &__messages {
      margin-top: 5rem;

      &--msg {
        button {
          width: 30%;
        }
        p {
          padding: 0 1rem;
        }
      }
    }
  }
}
