.messageboard {
  width: 70%;
  margin: 2rem auto;
  
  &--load {
    margin: auto;
    margin-bottom: 2rem;
  }

  .btn {
    margin: auto;
    margin-bottom: 1rem;
  }

  .form {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: 1fr min-content;
    background-color: $main-bg;
    border: none;
    margin: 0 auto;
    width: 80%;

    input[type="text"] {
      justify-self: center;
      grid-row: 1/2;
      grid-column: 1/2;
      width: 60%;
      transition: width 0.3s ease-out;
      &:focus {
        width: 100%;
      }
    }

    input[type="submit"] {
      justify-self: center;
      grid-row: 2/3;
      grid-column: 1/-1;
    }

    .Loader {
      grid-row: 2/3;
      grid-column: 2/3;
    }
  }

  &__messages {
    flex: 1;
    margin-top: 5rem;

    &--msg {
      @extend %messageBox;
    }
  }
}

@media only screen and(max-width:1200px) {
  .messageboard {
    width: 80%;
  }
}

@media only screen and(max-width:1000px) {
  .messageboard {
    width: 90%;
  }
}

@media only screen and(max-width:800px) {
  .messageboard {
    width: 100%;
    margin: 0;

    &__messages {
      margin-top: 5rem;

      &--msg {
        gap: 1rem;
        margin: 2rem auto 5rem auto;
        width: 90%;
        padding: 1rem 0.5rem;
        grid-template-rows: min-content min-content min-content 1fr;
        grid-template-columns: 1fr;

        img {
          width: 8rem;
          height: 8rem;
          grid-row: 1/2;
          grid-column: 1/-1;
        }

        a,
        h2 {
          justify-self: center;
          padding: 0;
          align-self: center;
          grid-row: 2/3;
          grid-column: 1/-1;
        }
        button {
          grid-row: 3/4;
          grid-column: 1/-1;
          align-self: center;
          justify-self: center;
          margin: 0;
          width: 20%;
        }

        p {
          min-height: 10rem;
          text-align: center;
          padding: 2rem;
          background-color: lighten($main-bg, 7%);
          width: 95%;
          margin: 0;
          justify-self: center;
          grid-row: 4/5;
          grid-column: 1/-1;
        }
      }
    }
  }
}

@media only screen and(max-width:500px) {
  .messageboard {
    width: 100%;
    margin: 0;

    &__messages {
      margin-top: 5rem;

      &--msg {
        button {
          width: 30%;
        }
        p {
          padding: 1rem 1rem;
        }
      }
    }
  }
}
