@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap");

@font-face {
  font-family: "Arvo";
  font-display: auto;
  src: local("Arvo"),
    url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
}

@import "./vars";
@import "./placeholders";
@import "./scrollBar";
@import "../components/Landing/Landing";
@import "../components/UI/Header/Header";
@import "./typography";
@import "./components";
@import "../components/Auth/Login/Login";
@import "../components/Auth/Register/Register";
@import "../components/Profile/Profile";
@import "../components/MessageBoard/MessageBoard";
@import "../components/PrivateMessages/PrivateMessages";
@import "../components/UI/Spinner/Spinner";
@import "../components/UI/Modal/Modal";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Ubuntu, sans-serif;
  color: white;
  font-display: fallback;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  transition: border 0.2s;
}

@media only screen and(max-width:800px) {
  html {
    font-size: 55%;
  }
}

@media only screen and(max-width:600px) {
  html {
    font-size: 50%;
  }
}
