// Shared styles
.profile,
.profilecreation {
  background-color: $main-bg;
  padding: 1rem;
  border: 0.2rem solid blanchedalmond;
  display: grid;
  margin: 3rem auto;
}

.pm {
  .Loader {
    margin: auto;
  }
  background-color: $header-color;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h3 {
    margin: 0;
    // Uses padding instead of margin here
    // for border reasons.
    padding: 3rem 1rem;
    text-align: center;
    border-bottom: 2px solid blanchedalmond;
  }

  .form {
    border: none;
    flex: 1;
    // Width and height are set for the textarea
    width: 100%;
    height: 100%;

    input[type="submit"] {
      margin-top: auto;
    }
    textarea {
      padding: 1rem;
      width: 100%;
      height: 100%;
      // Max height and width is set so you cannot drag
      // the textarea outside the window.
      max-height: 100%;
      max-width: 100%;
      margin-bottom: 2rem;
      background-color: transparent;
      color: white;
      font-family: inherit;
      font-size: inherit;
      outline: none;
      &::placeholder {
        color: white;
        font-size: inherit;
      }
    }
  }
}

.profile {
  width: 80%;
  // 20rem for avatar-size
  grid-template-columns: 20rem 4rem 1fr;
  grid-template-rows: 20rem 1fr;
  gap: 1rem;

  &__image {
    grid-row: 1/2;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .avatar {
    height: 80%;
    width: auto;
    border-radius: 10%;
  }

  &__heading {
    background-color: $main-bg;
    grid-row: 1/2;
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    &--name {
      text-align: center;
      font-size: 4rem;
    }

    &--status {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin-bottom: 1rem;
        font-size: 2rem;
      }

      i {
        margin-left: 1rem;
        font-size: 2rem;
      }
    }

    a {
      font-size: 1.4rem;
    }
  }

  &__bio {
    white-space: pre-wrap;
    background-color: $main-lighter;
    grid-row: 2/3;
    grid-column: 1/3;
    padding-top: 3rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    &--item {
      margin: 0 auto;
      line-height: 2.2rem;
      width: 80%;
      font-size: 2rem;
      margin-bottom: 2rem;
      label {
        margin-bottom: 1rem;
        font-weight: 700;
        display: block;
        font-size: 1.4rem;
      }
    }
  }

  &__posts {
    padding: 1rem;
    padding-top: 2rem;
    grid-row: 2/3;
    grid-column: 3/-1;
    background-color: $main-lighter;

    .form {
      width: 80%;
      margin: auto;
      margin-bottom: 5rem;
      border: none;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      input[type="text"] {
        font-size: 1.4rem;

        background-color: $main-bg;
        // width: 50%;
        border: 1px solid blanchedalmond;
        margin: auto;
        padding: 1rem;
      }
      input[type="submit"] {
        margin: auto 2rem;
      }
    }

    &--post {
      background-color: $main-bg;
      padding: 1rem;
      width: 80%;
      margin: auto;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }

      // border-bottom: 2px solid blanchedalmond;
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-template-rows: min-content 1fr;

      img {
        padding: 0.3rem;
        height: 10rem;
        width: auto;
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: start;
        justify-self: start;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
        grid-column: 1/2;
        grid-row: 2/3;
      }

      p {
        // box-shadow: inset 0.2rem 0.3rem 0.2rem $main-bg, inset -0.2rem -0.3rem 0.2rem $main-bg;
        // background-color: lighten($main-bg, 4%);
        background-color: lighten($main-bg, 2%);
        padding: 1rem;
        padding-left: 2rem;
        padding-top: 2rem;
        margin-left: 2rem;
        line-height: 2rem;
        grid-column: 2/-2;
        grid-row: 1/-1;
      }
    }
  }
}

.profilecreation {
  width: 60%;
  grid-template-rows: 15rem 1fr;
  grid-template-columns: 1fr;

  .form {
    width: 94%;
    margin: auto;
    grid-column: 1/-1;
    grid-row: 2/3;
    textarea {
      padding: 1rem;
      width: 100%;
      margin-bottom: 2rem;
      background-color: transparent;
      color: white;
      font-family: inherit;
      font-size: inherit;
      outline: none;
      &::placeholder {
        color: white;
        font-size: inherit;
      }
    }
  }
  h2 {
    margin-top: 2rem;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

@media only screen and(max-width:1200px) {
  .profilecreation,
  .profile {
    width: 90%;
  }
}

@media only screen and(max-width:1000px) {
  .profilecreation,
  .profile {
    width: 100%;
    margin: 0;
    margin-bottom: 3rem;
    border: none;

    &__posts {
      width: 100%;
      &--post {
        width: 100%;
      }
      .form {
        input[type="text"] {
          width: 60%;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .profilecreation {
    padding: 0;
    .form {
      padding: 1rem;
    }
  }
  .profile {
    flex: 1;
    padding: 0;
    padding-top: 1rem;
    grid-template-rows: min-content min-content min-content 1fr;
    grid-template-columns: 1fr;
    gap: 0.6rem;

    &__posts {
      .form {
        flex-direction: column;
        input[type="text"] {
          width: 100%;
          margin-bottom: 2rem;
        }
        input[type="submit"] {
          margin: auto;
        }
      }

      &--post {
        grid-template-rows: min-content min-content 1fr;
        grid-template-columns: 1fr;

        img {
          justify-self: center;
          grid-row: 1/2;
          grid-column: 1/-1;
        }
        h3 {
          grid-row: 2/3;
          grid-column: 1/-1;
          margin-bottom: 1rem;
        }
        p {
          margin: 0;
          text-align: center;
          grid-row: 3/4;
          grid-column: 1/-1;
        }
      }
    }

    &__image {
      height: 100%;
      grid-row: 1/2;
      grid-column: 1/-1;
    }

    .avatar {
      width: 80%;
      height: auto;
      border-radius: 10%;
    }

    &__heading {
      padding: 1rem;
      grid-row: 2/3;
      grid-column: 1/-1;
      &--name {
        margin-bottom: 1rem;
        font-size: 2.5rem;
      }
      a {
        font-size: 1.4rem;
      }
    }

    &__bio {
      grid-row: -3/-2;
      grid-column: 1/-1;
      justify-content: center;
      &--item {
        text-align: center;
      }
    }

    &__posts {
      grid-row: -2/-1;
      grid-column: 1/-1;
      background-color: $main-lighter;
    }
  }
}

@media only screen and (max-width: 400px) {
  .profile {
    &__posts {
      .form {
        input[type="text"] {
          width: 100%;
        }
      }
      &--post {
        width: 90%;
      }
    }
  }
}
